<!doctype html>
<html data-theme="light">

<head>
    <meta charset="utf-8" />
    <title>Ontologai</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.3/Tone.js"></script>

    
    <script src="./static/@viz-js/viz/lib/viz-standalone.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.0/load2.css" />

    <style> 
        body {padding: 15px; margin: 0; color: yellowgreen; background-color: black;} 
        canvas { display: block;} 
        svg {width: 55vw; height: 100vh;}
        .content {position: absolute; display: flex; flex-direction: row; flex-wrap: wrap;}
        .search-bar {padding-left: 40vw; padding-top: 15vh;}
    </style>

</head>

<body>
    <div class="flex flex-1 columns-1 flex-col text">
        <pre>
            ______            _                   ____        _        _                      _____ 
            |  ____|          | |                 / __ \      | |      | |               /\   |_   _|
            | |__  __  ___ __ | | ___  _ __ ___  | |  | |_ __ | |_ ___ | | ___   __ _   /  \    | |  
            |  __| \ \/ / '_ \| |/ _ \| '__/ _ \ | |  | | '_ \| __/ _ \| |/ _ \ / _` | / /\ \   | |  
            | |____ >  <| |_) | | (_) | | |  __/ | |__| | | | | || (_) | | (_) | (_| |/ ____ \ _| |_ 
            |______/_/\_\ .__/|_|\___/|_|  \___|  \____/|_| |_|\__\___/|_|\___/ \__, /_/    \_\_____|
                        | |                                                      __/ |               
                        |_|                                                     |___/                
        </pre>
    </div>
        <div id="summary-results" class="content">
            <form hx-post="/show" hx-ext="json-enc" hx-target="#summary-results" class="search-bar"
                hx-indicator="#indicator">
                <input name="search_term" type="text" class="input input-bordered w-full" placeholder="search term" />
                <button class="btn btn-neutral">Show Ontology</button>
            </form>
        </div>
</body>
</html>